@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-image: url("hero-bg.jpg");
    background-size: cover;
    margin: 0%;
    font-family: 'Roboto Mono', monospace;
}
.nav-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    padding: 1%;
    position: sticky;
}
#logo{
    display: block;
    left: 200px;
}


.item{
    display: inline-flex;
    padding-left: 1em;
}

h2 {
    margin: 0%;
    color: rgb(0, 137, 216);
    font-style: italic;
}
#menu{
    display: inline-flex;
}
ul {
    color: rgb(218, 218, 218);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

#personal{
    padding-left: 5rem;
}

.fas{
    display: flex;
    align-items: center;
    padding-right: 6px;
}